<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="GitHub" value="https://nuget.pkg.github.com/odytrice/" />
  </packageSources>
  <packageSourceCredentials>
    <GitHub>
      <add key="Username" value="odytrice" />
      <add key="ClearTextPassword" value="%GITHUB_PUSH_TOKEN%" />
    </GitHub>
  </packageSourceCredentials>
</configuration>