group App
    storage: none
    framework: netcoreapp2.2,netstandard2.0
    source https://api.nuget.org/v3/index.json

    source https://nuget.pkg.github.com/odytrice/index.json username: "odytrice" password: "%GITHUB_PULL_TOKEN%" authtype: "basic"
    storage: none
    nuget App.Library 0.0.1

group Build
    storage: none
    source https://api.nuget.org/v3/index.json
    nuget FSharp.Core
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Target
    nuget Fake.DotNet.Paket
    nuget Fake.DotNet
    nuget Fake.DotNet.NuGet
    nuget Fake.DotNet.MSBuild
    nuget Fake.Core.SemVer
    nuget Fake.Core.ReleaseNotes
    nuget Paket.Core